$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: 'Apple Chancery';
  src: url('./fonts/Apple Chancery.woff') format('woff'),
    url('./fonts/Apple Chancery.ttf') format('truetype')
}

$special-font: 'Apple Chancery';

.special-font {
  font-family: $special-font;
}

