<div class="container">
  <app-header></app-header>


  <form (submit)="onFormSubmitted()" class="form-horizontal">

    <div class="form-group required">
      <label class="control-label col-xs-12 col-sm-3">Deal Type:</label>
      <div class="col-xs-12 col-sm-9">
        <select
          name="propertyType"
          class="form-control col-xs-12 col-sm-9"
          [(ngModel)]="model.dealType"
          required="true"
        >
          <option
            *ngFor="let type of model.dealTypes"
            [value]="type"
          >{{ type | capitalizeAll }}</option>

        </select>
      </div>
    </div>

    <div class="form-group required">
      <label class="control-label col-xs-12 col-sm-3">Property Type:</label>
      <div class="col-xs-12 col-sm-9">
        <select
          name="propertyType"
          class="form-control col-xs-12 col-sm-9"
          [(ngModel)]="model.propertyType"
          required="true"
        >
          <option
            *ngFor="let type of model.propertyTypes"
            [value]="type"
          >{{ type | capitalizeAll }}</option>

        </select>
      </div>

    </div>


  </form>

</div>


